<ion-view title="{{title}}">
  <ion-content padding="true">
	<p><a href="http://abioka.com" target="_blank">abioka.com</a>, işten arta kalan zamanlarında insanlığa faideli yazılımlar yapar. adeta insanları uzaya gönderir. oha falan olursun, aklın çıkar. </p>
	<p>ayrıca birinci yeniyi ve ikinci yeniyi çok sever. yaptığı projelere onlardan isimler verir.</p>
	<p>
	-garson bira getir. <br/>
	garsonun adı <a href="https://play.google.com/store/apps/details?id=com.abioka.knowyourbarbas" target="_blank">barba</a>.
	</p>
  </ion-content>
</ion-view>
